<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'store/ico.svg' %}">
    <title>{% block title %}
            Home
        {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/c1d73264ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'store/home.css' %}">
    <link rel="stylesheet" href="{% static 'store/mini-search.css' %}">
    <link rel="stylesheet" href="{% static 'store/hamburger.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% block link %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="h-search-cart">
                <div class="search-container">
                    <i class="fa-solid fa-magnifying-glass" onclick="showSearch()"></i>

                    <div class="searching">
                        <input class="search-input" type="text" onchange="search()" placeholder="Search">
                        <div class="input-xmark" onclick="closeSearch()">
                            <i class="fa-sharp-duotone fa-solid fa-xmark"></i>
                        </div>
                        <div class="search-result">
                        </div>
                    </div>
                </div>
                <div onclick="viewCart()"><i class="fa-solid fa-bag-shopping"></i></div>
            </div>
            <div class="h-logo-nav">
                <div>
                    <p class="logo-text">Anabelle</p>    
                    <img class="logo-img" src="{% static 'store/ico.svg' %}" alt="..">
                </div>
    
                    <!-- nav links -->
                    <div class="nav-links">
                        <a href="{% url 'index' %}">Home</a>
                        <a href="{% url 'products' %}">Products</a>
                        <a href="{% url 'contact' %}">Contact Us</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>      

                    <div class="burger-search">
                        <div class="🔍" onclick="minSearch()">
                            <i class="fa-solid fa-magnifying-glass" onclick="showSearch()"></i>
                        </div>
                        <label class="burger" for="burger">
                            <input type="checkbox" id="burger" onchange="openSlider()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>
 
            </div>
        </div>

    </header>
    <div class="overlay"></div>
    <nav class="sidebar" id="sidebar">
        <div class="cart-heading">
            <span>Your cart</span>
            <div id="xmark" onclick="closeCartSideBar()"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="cart-heading desc">
            <span>PRODUCT</span>
            <span>TOTAL</span>
        </div>

        <div id="cart-tray">
        </div>
        
        <div class="cart-subtotal">
            <div class="subtotal">
                <span>Subtotal</span>
                <span id="subtotal"></span>
            </div>

            <button class="checkout" onclick="checkout()">Checkout</button>
        </div>
    </nav>

    <nav class="slider">
        <div class="area">
            <a href="{% url 'index' %}" style="text-decoration: none;">
                <div class="area-child area-1" onclick="index()">
                    <i class="fa-solid fa-house"></i>
                    Home
                </div>
            </a>
            <a href="{% url 'products' %}" style="text-decoration: none;">
                <div class="area-child area-2" onclick="products()">
                    <i class="fa-solid fa-tag"></i>
                    Products
                </div>
            </a>
            <div class="area-child area-3" onclick="closeSlider(); viewCart();">
                <i class="fa-solid fa-bag-shopping"></i>
                Cart
            </div>
            <a href="{% url 'contact' %}" style="text-decoration: none;">
                <div class="area-child area-5">
                    <i class="fa-solid fa-phone"></i>
                    Contact us
                </div>
            </a>
            <a href="{% url 'logout' %}" style="text-decoration: none;">
                <div class="area-child area-6">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Log Out
                </div>
            </a>
        </div>
    </nav>

    <div class="overlay"></div>
    <nav class="sidebar" id="sidebar">
        <div class="cart-heading">
            <span>Your cart</span>
            <div id="xmark" onclick="closeCartSideBar()"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="cart-heading desc">
            <span>PRODUCT</span>
            <span>TOTAL</span>
        </div>

        <hr class="cart-hr">
        <div id="cart-tray">
        </div>

        <hr>
    </nav>

    <div class="mini-search-container">
        <div class="inner-search">
            <div class="xmark" onclick="closeMinSearch()">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <input class="mini-search" type="text" placeholder="Search" onchange="lookUp()">
            <div class="searched-result"></div>
        </div>
    </div>

    <nav class="slider">
        <div class="area">
            <div class="area-child area-1">
                <i class="fa-solid fa-house"></i>
                <a href="{% url 'index' %}">Home</a>
            </div>
            <div class="area-child area-2">
                <i class="fa-solid fa-tag"></i>
                <a href="{% url 'products' %}">Products</a>
            </div>
            <div class="area-child area-3" onclick="closeSlider(); viewCart();">
                <i class="fa-solid fa-bag-shopping"></i>
                Cart
            </div>
            <div class="area-child area-5">
                <i class="fa-solid fa-phone"></i>
                Contact us
            </div>
            <div class="area-child area-6">
                <i class="fa-solid fa-right-from-bracket"></i>
                <a href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
    </nav>

    <section class="quick-layout">
    </section>

        {% block content %}
        {% endblock %}

    <footer>
        <div class="footer-wrapper">
            <div class="block-item1 f-item" id="block-item1">
                <p class="footer-nav-title">Contact Us  
                    <span class="checkbox-container">
                        <input type="checkbox" class="toggle-checkbox" id="toggle-1" />
                        <label for="toggle-1" class="toggle-label"></label>
                    </span>
                </p>
                <div>
                    <p><span>Address:</span> No 7 Abba Street Omagba, Phase 2. Anambra State.</p>
                    <p><span>Mobile:</span> 09028346795</p>
                    <p><span>Email: </span>ngwuemmanuel84@gmail.com</p>
                </div>
                
            </div>
            <div class="block-item2 f-item">
                <p class="footer-nav-title">
                    Quick Links

                    <span class="checkbox-container">
                        <input type="checkbox" class="toggle-checkbox" id="toggle-2"/>
                        <label for="toggle-2" class="toggle-label"></label>
                    </span>
                </p>
                <div>
                    <p>Home</p>
                    <p>Search</p>
                    <p>Contact Us</p>
                    
                </div>
            </div>
            <div class="block-item3 f-item">
                <p class="footer-nav-title">
                    Our Catalog

                    <span class="checkbox-container">
                        <input type="checkbox" class="toggle-checkbox" id="toggle-3"/>
                        <label for="toggle-3" class="toggle-label"></label>
                    </span>
                </p>
                <div>
                    <p>Shop All</p>
                    <p>Featured Products</p>
                    <p>About Us</p>
                </div>
            </div>
            <div class="block-item4 f-item">
                <p class="footer-nav-title">
                    Follow Us

                    <span class="checkbox-container">
                        <input type="checkbox" class="toggle-checkbox" id="toggle-4"/>
                        <label for="toggle-4" class="toggle-label"></label>
                    </span>
                </p>
                <div>
                    <span>
                        <i class="fa-brands fa-instagram"></i>
                            Instagram
                    </span>
                    <span>
                        <i class="fa-brands fa-twitter"></i>
                        Twitter
                    </span>
                    <span>
                        <i class="fa-brands fa-whatsapp"></i>
                        Whatsapp
                    </span>
                    <span>
                        <i class="fa-brands fa-facebook"></i>
                        Facebook
                    </span>
                </div>
            </div>
        </div>
    </footer>

    {% block script %}
    {% endblock %}
    <script src="{% static 'store/miniSearch.js' %}"></script>
    <script src="{% static 'store/cartLogic.js' %}"></script>
    <script src="{% static 'store/search.js' %}"></script>
    <script src="{% static 'store/slider.js' %}"></script>
    <script src="{% static 'store/toggle.js' %}"></script>
    <script src="{% static 'store/quickView.js' %}"></script>
</body>
</html>