{% extends 'store/base.html' %}

{% load static %}

{% block title %}Home | Anabelle{% endblock %}
{% block content %}
    <main class="main-content">
        <div class="hero-section">
            <div class="hero-wrapper">
                <div class="hero-heading">
                    <p><span>Step into </span></p>
                    <p><span>Style with Top Brands</span></p>
                    <p><span>in Anabelle!</span> </p>
                </div>
            </div>
        
        </div>
        <div class="mid-section">
            <div class="parent">
                <div class="description">
                    <p >
                        Discover a wide selection of premium shoes from the most popular brands, all in one place. Whether you’re looking for the latest trends, comfort, or performance, we’ve got something for everyone.  
                    </p>
                </div>
                <div class="sample">
                    <div class="collection_list first-item">
                    <p class="first-item-text">Adidas</p>
                    </div>
                    <div class="collection_list second-item">
                    <p class="second-item-text">Vans</p>
                    </div>
                    <div class="collection_list third-item">
                    <p class="last-item-text">Nike</p>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="third-section">
            <div class="ts-description">
                <div>
                    <p style="font-size: 35px; font-weight: 700; letter-spacing: 3px;">Style Better, Drip More</p>
                    <p style="font-size: 24px;">Get ready to be exquiste and elegant.</p>
                    <a href="{% url 'products' %}">Shop Now</a>
                </div>
            </div>
            <img class="logo-img" src="{% static 'store/ico.svg' %}" alt="..">
            <div class="third-sect-container">
                <div class="third-sect x-image"></div>
                <div class="third-sect xx-image"></div>
            </div>
        </div>
        <div class="featured-products">
            <div class="fp-header">
                <img src="{% static 'store/ico.svg' %}" alt="..">
                <h2>Featured Products</h2>
                <img src="{% static 'store/ico.svg' %}" alt="..">
            </div>
            
            <div class="fp-grid">
                {% if fproducts %}
                    <button class="fp-left-button" onclick="scrollToLeft()" type="button"><i class="fa-solid fa-angle-left"></i></button>
                {% for product in fproducts %}
                    <a id="product-link" href="{% url 'product-detail' product.id %}">
                        <div class="fp-grid-child grid-child{{ forloop.counter }}">
                            <img class="fp-child-img grid-child-image-{{ forloop.counter }}" src="{{ product.productimage.url }}" alt="">
                            <div class="product-info">
                                    <input class="fp-quickbtn" id="quickview" type="submit" value="Quick View"  onclick="quickView(event,'{{ product.id|escapejs }}')">
                            <p>{{ product.productname }}</p>
                            <p>${{ product.price }} USD</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                    <button class="fp-right-button" onclick="scrollToRight()" type="button"><i class="fa-solid fa-angle-right"></i></button>
                {% else %}
                <div class="null-featured">
                    <p>No Featured Products Yet</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="banner" >
            <div class="banner-image left-banner"></div>
            <div class="overflow">
                <p>Stunning Shoe Collection </p>
                <span>
                    Step into comfort and style with our exclusive Shoe Collection.
                    <br> Whether you're dressing up for a special occasion or keeping it casual,
                            <br>    our shoes provide the perfect blend of fashion and comfort, 
                                <br>    making them your go-to choice for any outing.</span>
            </div>
            <div class="banner-image right-banner"></div>
        </div>
        <script src="{% static 'store/scroll.js' %}"></script> 
    </main>    
    {% endblock %}

