{% extends 'store/base.html' %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/products.css' %}">
{% endblock %}

{% block title %}Products | Anabelle{% endblock %}
{% block content %}
    <main>
        <div class="p-catalog">
            <div class="p-layout">
                <p class="p-heading">Products
                </p>
                <div class="p-grid">
                    {% for product in page_obj %}
                        <a style="text-decoration: none; color: black;" href="{% url 'product-detail' product.id %}">
                            <div class="p-view">
                                <img class="p-img" src="{{ product.productimage.url }}" alt="product-image">
                                <div class="p-info">
                                    <input class="p-quickbtn" id="p-quickview" type="submit" value="Quick View" onclick="quickView(event,'{{ product.id|escapejs }}')" >
                                    <p>{{ product.productname }}</p>
                                    <p>${{ product.price }} USD</p>
                                </div>
                            </div>                
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="first-page" href="?page=1">First</a>
                    <a class="lt" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                {% endif %}
        
                <span class="current">
                    <span class="active">{{ page_obj.number }}</span>  of <span>{{ page_obj.paginator.num_pages }}</span>
                </span>
        
                {% if page_obj.has_next %}
                    <a class="gt" href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    <a class="last-page" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </span>
        </div>
    </main>
{% endblock %}