.form-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}

.form-container input{
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 0 1px rgba(198, 198, 198, 0.5);
}

.form-container h2{
    font-size: 45px;
    font-weight: 700;
    margin: 15px 0;
    align-self: center;
}

.form-container span {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 25px 0;
    align-self: center;
}

.form-container label {
    display: block;
    margin: 5px 0;
    font-weight: 300;
}


.contact-form {
    display: flex;
    flex-direction: column;
    height: 60%;
    flex: 1;
    width: 55%;
    flex-wrap: nowrap;
    /* justify-content: space-around; */
    gap: 15px;
}

.name-email {
    display: flex;
    justify-content: space-between;
}
.name-email > div {
    width: 49%;
}

.name-email > div > input{
    width: 100%;
}

#id_number{
    appearance: textfield;
    -moz-appearance: textfield;
}

#id_number::-webkit-inner-spin-button,
#id_number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.form-container input:not([type="submit"]) {
    height: 45px;
    width: 100%;
    border: 1.65px solid #101010;
}

.form-container input[type="submit"]{
    width: 80px;
    height: 50px;
    font-weight: 300;
    color: white;
    background-color: gray;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    border: 1.65px solid #101010;
}

@media (max-width: 600px){
    .contact-form {
        width: 95%;
    }

    .contact-form input{
        font-size: 14px;
    }
}

.errorlist{
    color: red;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    list-style-type: none;
}