.p-catalog{
    height: fit-content;
    min-height: 550px;
}

.p-heading{
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-weight: 600;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: .5px solid black;
    z-index: 200;
}

.p-layout {
    position: relative;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
    box-shadow: inset 0px 43.4px 8px -6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.p-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.p-view {
    display: flex;
    flex-direction: column;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: border .6s ease-in-out 0.2;
    border: 0px solid black;
}

.p-view:hover {
    border: 1px solid black;
}

.p-img{
    object-fit: fill;
    width: 100%;
    height: calc(2/3 * 100%);
}

.p-info {
    box-shadow: inset 0px 5px 8px -6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: calc(1/3 * 100%);
    padding: 10px 0;
}

.p-quickbtn {
    margin: auto 4px;
    opacity: 1;
    padding-left: 2px;
    padding-right: 60px;
    background-color: #fff;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid black;
    position: relative;
    background-color: rgba(202, 202, 202, 0.233);
    transition: background-color .8s ease-in-out,
                opacity 0.7s ease-in-out ;
}


.pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.step-links a {
    text-decoration: none;
}

.current span {
    padding: 5px 13.5px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15)1.2px 2px 2px 2.6px;
}

.active {
    background-color: rgba(128, 128, 128, 0.345);
}

.gt,
.first-page{
    background-color: rgba(128, 128, 128, 0.345);
    color: white;
    font-size: 20px;
}

.gt,
.lt,
.first-page,
.last-page{
    box-shadow: rgba(0, 0, 0, 0.15) 0.5px 1px 1px 2.6px;
    padding: 3px 18px;
    border-radius: 14px;
}

.first-page,
.last-page{
    color: black;
}

@media(max-width: 500px) {
    .p-heading{
        font-size: 24px;
    }

    .p-grid{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
        row-gap: 8px;
    }

    .p-layout {
                width: 98%;
    }

    .p-view {
        height: 430px;
    }
}