* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    /* background-color: gray; */
}

body{
    width: 100vw;
    overflow-x: hidden;
}

header{
    display: flex;
    color: white;
    background-color: rgb(6, 6, 6);
    width: 100%;
    height: 80px;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

header > p {
    margin: 0 18px;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 2px;
}

.cart-logo {
    display: block;
    color: white;
    height: 80px;
    width: 100px;
    margin-left: 2px;
    margin-right: -40px;
    padding: 0;
}
.errorlist {
    list-style-type: none;
}

.error-message {
    color: #ff0000;
    font-weight: 200;
    width: 100%
}
.form-div-wrapper {
    background-image: url("./nike-desktop-backgrounds-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    width: 800px;
    margin-top: 18px;
    flex-direction: column;
}

@media (width <= 500px) {
    .form-div-wrapper {
        padding: 0 25px;
        background-size: 70%;
        animation: rotation 25s infinite linear alternate;
    }

    @keyframes rotation {
        from {
          background-position: 100% 0%;
        }
        to {
          background-position:100% 100%;
        }
      }

    form{
        width: 98%;
    }

    form input{
        font-size: 16px;
    }

    header > p {
        font-size: 22px;
    }

    .cart-logo {
        width: 60px;
        height: 60px;
        margin-right: -30px;
    }
}
/* @media (min-width: 700px) {
    .form-div-wrapper {
        background-size: 45%;
    }
} */

@media (min-width: 501px) and (max-width: 950px) {
    .form-div-wrapper {
        padding: 0 30px;
        background-size: 70%;
    }

    form {
        width: 97%;
    }

    form input{
        font-size: 18px;
    }
}

form label{
    margin-bottom: 8px;
}

form input {
    height: 45px;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    background-color: #f7f7f7;
    box-shadow: inset 0 0 1px rgba(198, 198, 198, 0.5);
}
.personal-info, .sign-info {
    font-weight: 600;
    margin-bottom: 16px;
}
.nom  {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.first-name input, .last-name input {
    width: 100%;
}

.first-name label, .last-name label{
    display: block;
}

.first-name, .last-name {
    width: 49%;
    display: inline-block;
}

.last-name {
    margin-right: 0;

}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

input[type="submit"] {
    font-weight: 600;
    padding: 5px 90px;
    border-radius: 20px;
    background-color: rgb(6, 6, 6);
    color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid white;
}