* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    /* background-color: gray; */
}

body{
    width: 100vw;
    overflow-x: hidden;
}

header{

    background-color: rgba(0, 0, 0, 0.854); 
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(69, 69, 69);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2)
}

.header-container {
    width: 96.8%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header-container div:nth-of-type(1) {
    display: flex;    
}


.logo-text {
    color: rgb(200, 200, 200);
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 2px;
}

.logo-img {
    display: inline;
    margin-left: 2px;
    height: 50px;
    width: 50px;
    margin-right: -40px; 
    padding: 0;
}

.errorlist {
    list-style-type: none;
}

.error-message {
    color: #ff0000;
    font-weight: 200;
    width: 100%
}
.form-div-wrapper {
    background-image: url("./nike-desktop-backgrounds-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    height: calc(100svh - 80px);
}


form {
    display: flex;
    width: 800px;
    margin-top: 18px;
    flex-direction: column;
    justify-content: space-between;
}

@media (width <= 500px) {
    .form-div-wrapper {
        padding: 0 25px;
        background-size: 70%;
        animation: rotation 25s infinite linear alternate;
    }

    @keyframes rotation {
        from {
          background-position: 100% 0%;
        }
        to {
          background-position:100% 100%;
        }
      }

    form{
        width: 98%;
    }

    form input{
        font-size: 16px;
    }

    .logo-text {
        font-size: 28px;
    }

    .logo-img {
        width: 35px;
        height: 35px;
    }
}
/* @media (min-width: 700px) {
    .form-div-wrapper {
        background-size: 45%;
    }
} */

@media (min-width: 501px) and (max-width: 950px) {
    .form-div-wrapper {
        padding: 0 30px;
        background-size: 70%;
    }

    form {
        width: 97%;
    }

    form input{
        font-size: 18px;
    }
}

form label{
    margin-bottom: 8px;
}

form input {
    height: 45px;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    background-color: #f7f7f7;
    box-shadow: inset 0 0 1px rgba(198, 198, 198, 0.5);
    padding-left: 8px;
}
.personal-info, .sign-info {
    font-weight: 600;
    margin-bottom: 16px;
}
.nom  {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.first-name input, .last-name input {
    width: 100%;
}

.first-name label, .last-name label{
    display: block;
}

.first-name, .last-name {
    width: 49%;
    display: inline-block;
}

.last-name {
    margin-right: 0;

}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.input-container input {
    background-color: rgba(0, 0, 0, 0.854);
    cursor: pointer;
    width: 100%;
}

.in-up{
    text-align: center;
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
}

.in-up a{
    text-decoration: none;
    color: rgb(27, 26, 26);
    font-weight: 500;
    font-size: 20px;

}

@media (max-width: 500px){
    .in-up {
        left: 0;
        right: 0;
        position: absolute;
        bottom: 35px;
        font-size: 18px;
        font-weight: 200;
    }
}

.password-container, 
.password-container2 {
    position: relative;
    height: fit-content;
}

.password-container input,
.password-container2 input{
    width: 100%;
}

input[type="submit"] {
    font-weight: 600;
    padding: 5px 90px;
    border-radius: 20px;
    background-color: rgb(6, 6, 6);
    color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid white;
}

/* PASSWORD'S EYE STYLING */
.container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 3.4%;
  }

  .error-container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 35%;
    right: 3.4%;
  }

  @media (max-width: 500px){
    .container {
        right: 7%;
    }
    .error-container {
        right: 7%;
    }
  }
  
  .container .eye {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  .error-container .eye {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .container .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
  }
  
  .error-container .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
  }
  
  .container .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
  }
  .error-container .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
  }
  
  /* ------ On check event ------ */
  .container input:checked ~ .eye {
    display: none;
  }
  .error-container input:checked ~ .eye {
    display: none;
  }
  
  .container input:checked ~ .eye-slash {
    display: block;
  }
  .error-container input:checked ~ .eye-slash {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .error-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2);
    }
  }

/* END OF PASSWORD'S EYE */